# ==========================
# Frontend
# ==========================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# ==========================
# Backend
# ==========================
frontend/backend/node_modules/
frontend/backend/uploads/

# ==========================
# Environment Variables
# ==========================
frontend/.env
frontend/backend/.env

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db